# Gradle files
.gradle/
build/

# Local configuration
local.properties

# OS / logs
*.log
.DS_Store

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# APK / AAB
*.apk
*.aab
output-metadata.json

# Keystore
*.jks
*.keystore

# Google services
google-services.json

# Profiling
*.hprof